<div [@routerTransition]>
    <app-page-header [heading]="'Products'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-6 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Products</div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Command</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of rows">
                            <th scope="row">{{item.id}}</th>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>